{#<!DOCTYPE html>#}
{##}
{#<html>#}
{##}
{#    <head>#}
{#        <title>About</title>#}
{#    </head>#}
{##}
{#    <body>#}
{#        <h1>About</h1>#}
{#        <div>{{ aboutmessage }}</div>#}
{#        <img src="{{ MEDIA_URL }}cat.jpg">#}
{#    </body>#}
{#</html>#}

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>About</h1>
    <div>
        This tutorial has been put together by Robert Simmons<br />
    </div>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" />
    </div>
{% endblock %}